<!-- Template for blog posts a user can create -->
<!-- TODO: Style everything better -->

<body>
  <header>
    <img src="{{titleImagePath}}" alt="Title Image">
    <h1>{{title}}</h1>
    <h2>{{username}}</h2>
  </header>

  <div id="content">
    {{content}}
  </div>

  <button id="comment">See Comments</button>

  <div id="comments-section">
    <div id="create-top-level-comment">
      <textarea name="user-top-level-comment-content" id="user-top-level-comment-content" cols="30" rows="10">Enter Your Comment Here
      </textarea>
      <button id="post-comment">Post</button>
    </div>
  </div>
</body>

<footer>
  <p>Footer stuff</p>
</footer>



<script type="text/javascript" src="/scripts/blog.js" base_url="{{BASE_URL}}"></script>