<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>

  <!--A handlebars partial that loads the nav bar -->
  {{>Navigation}}

</head>

<body>
  <h1>Profile</h1>

  <!-- Show Firstname, lastname, username, and bio  -->
  <div id="userInfo">
    <img src="{{profileImagePath}}" alt="profile picture"></img>
    <p>{{userName}}</p>
    <p>{{firstName}}</p>
    <p>{{lastName}}</p>
    <p>{{bio}}</p>
    <!--User can update: First name, last name, and bio with edit button  -->
    <button><a href="http://localhost:3000/profile/edit">Edit</a></button>
  </div>


  <div id="blogCreate">
    <h2>Create a Blog</h2>
    <a href="/blog">Create a Blog</a>
  </div>


  <div id="userBlogs">
    <h2>View and Edit Your Blogs</h2>
    <!--Use handlebars to run through array of the user's blogs and display them onto the page like: -->
    <ul>
      {{#each blogDetails as |detail|}}
      <li>
        {{detail.[title]}}, <a href={{detail.viewPath}}>View</a>, <a href={{detail.editPath}}>Edit</a>
      </li>
      {{/each}}
    </ul>

  </div>





</body>
<script>
  async function getUserBlogs() {
    //
  }


</script>

</html>