<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>
  {{>Navigation}}
</head>

<body>
  <h1>Edit Profile</h1>

  <!--Present editable user information -->
  <img src="{{profileImagePath}}" alt="Profile Pic"></img>
  <input name="image" type="file" id="imageProfile" />
  <label for="fname">First name:</label>
  <input type="text" id="fname" value="{{firstName}}"><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" value="{{lastName}}"><br>
  <label for="bio">Bio:</label>
  <input type="text" id="bio" value="{{bio}}"><br>
  <button id="update">Update</button>


  <script type="text/javascript" src="/scripts/profileEdit.js" base_url="{{BASE_URL}}"></script>
</body>

</html>